/* Initial resets */
html {
  box-sizing: border-box;
}

body {
  margin: 75px;

  display: flex;
  justify-content: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* Square styles */
.squaresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 950px;
  gap: 3px;
}

.square {
  aspect-ratio: 1 / 1;
  flex: 1 0 50px;
  background-color: #555;
}
