/* Initial resets */
html {
  box-sizing: border-box;
}

body {
  margin: 50px;

  display: flex;
  justify-content: center;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

* {
  margin: 0;
  padding: 0;
}

/* Square styles */
.squaresContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 950px;
  gap: 3px;
  row-gap: 2px;
}

.square {
  --background-color: #555;
  background-color: var(--background-color);
  aspect-ratio: 1 / 1;
  flex: 1 0 50px;
}

.break {
  flex-basis: 100%;
  height: 0;
}
